#grid {
    /* max-width: 800px; */
}

.row-10 {
    max-width: 800px;
}

.row-9 {
    max-width: 790px;
}

.row-7 {
    max-width: 600px;
}

.cell {
    /* dilsplay */
    display: flex;
    justify-content: center;
    align-items: center;
    /* size */
    width: 80px;
    height: 80px;
    /* aesthetics */
    text-align: center;
    color: white;
    background-color: rgb(65, 65, 65);
    border: 1px solid rgb(21, 21, 21);

}